.explore {
    font-family: 'Roboto Flex', 'sans serif';
    text-align: center;
    padding: 20px 50px;
    border-radius: 50px;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: transparent;
    box-shadow: grey 0px 8px 10px -5px;
    margin-top: 25px;
}

